# HrFlow
HRFLOW_API_KEY=ask_0872d997021a7d86557cde47f5f66e36
HRFLOW_USER_EMAIL=NabilChartouni@HrFlow.ai
HRFLOW_SOURCE_KEY=your_source_key_hereco   # where parsed profiles are stored

# Claude / Anthropic
ANTHROPIC_API_KEY=71247b86-531c-46c5-abf8-8f9c72d16a48
